@import "tailwindcss";

.slick-dots li {
    background-color: whitesmoke;
    border-radius: 5px;
}

.slick-dots li.slick-active button::before {
    background-color: green;
    border-radius: 5px;
}

@theme{
    --color-herbal-green: #4CAF50;
    --color-soft-aqua-blue: #A3D5D3;
    --color-light-cream: #FAF9F6;
    --color-charcoal-grey: #333333;
    --color-warm-beige: #D6C9A8;
    --color-vintage-green: #597445;
}