@import "tailwindcss";

.slick-dots li {
    background-color: whitesmoke;
    border-radius: 5px;
}

.slick-dots li.slick-active button::before {
    background-color: green;
    border-radius: 5px;
}

@theme{
    --color-olive-green-dark : #011D16;
    --color-beige: #d9cfaa;
}

.slick-slide > div {
    display: flex !important;
    justify-content: center;
  }
  